[all:vars]
ansible_user=student{{ item }}
ansible_ssh_pass={{ admin_password }}
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[control]
{% for vm in ansible_node_facts.instances %}
{% if 'student' + item == vm.tags.Student %}
ansible ansible_host={{ vm.public_ip_address }} private_ip={{ hostvars[vm.tags.Name]['private_ip'] }}
{% endif %}
{% endfor %}

[cyberark]
{% for vm in cyberark_vault_node_facts.instances %}
{% if 'student' + item == vm.tags.Student %}
cyberark-vault ansible_host={{ vm.public_ip_address }} ansible_user={{ vm.tags.user }} ansible_pass={{ vm.tags.user.password }} ansible_port=5986 ansible_connection=winrm ansible_winrm_transport=credssp ansible_winrm_server_cert_validation=ignore private_ip={{ hostvars[vm.tags.Name]['private_ip'] }}
{% endif %}
{% endfor %}
